[Unit]
Description=MprisWake daemon

[Service]
ExecStartPre=/bin/sleep 11
ExecStart=/home/adi/Downloads/MprisWake-main/main.py
Restart=always
RestartSec=10min

[Install]
WantedBy=default.target
