[Unit]
Description=MprisWake daemon

[Service]
ExecStart=/home/adi/Downloads/MprisWake-main/main.py
Restart=always
RestartSec=10min
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
